.card {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 30px;
  padding: 0;
  margin: auto;
  border: 4px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: green;
  margin: 0;
}

#figura1 {
  font-size: 120px;
  margin-top: -20px;
  margin-left: 10px;
  align-self: flex-start;
}

#figura2 {
  font-size: 120px;
  transform: scaleY(-1);
  margin-bottom: -20px;
  margin-right: 10px;
  align-self: flex-end;
}

#Number {
  font-size: 180px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.red {
  color: red;
}
